@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-padding {
  padding: 15px;
}

.custom-margim {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 1.5rem;
}

.custom-title-cupom {
  font-size: 1.4rem;
  font-weight: 600;
  color: #090909;
}

.custom-title-cupom {
  font-size: 1.2rem;
}

.custom-scratch-margin {
  margin-top: 2rem;
}

.scratch-cupom {
  font-size: 1.2rem;
  font-weight: 600;
}

.custom-filter {
  justify-content: space-between;
  margin: 10px 0
}

.custom-random-cupom {
  font-size: 1.3rem;
  text-align: center;
  color: #1526FF;
  font-weight: bold;
}

@media screen and (max-width: 424px) {
  .custom-title-cupom {
    font-size: 1rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 426px) {
  .custom-padding {
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 3rem
  }
}

@media screen and (min-width: 427px) and (max-width: 530px) {
  .custom-padding {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    gap: 1rem
  }
}

@media screen and (min-width: 531px) and (max-width: 749px) {
  .custom-padding {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
  .custom-padding {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem
  }
}

@media screen and (min-width: 1280px) {
  .custom-margim {
    margin-top: 2rem;
  }
}